<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body>
    {{!-- add header path --}}
    {{>header}}
    
  <div class="section1-heading color">
    <div class="section-left-content">
        <div class="container">
            <h1>Hi Everyone !! <br> I am Nishad Arun<br>
            currently working as Software  <br>Engineer in <span style="color:rgb(87, 135, 87)";>Microsoft.</span></h1>
            <h1>I am &nbsp;<span class="autotext"></span></h1>
            <div class="dot">
              <span id="dot1"></span><span id="2"></span><span id="3"></span><span id="4"></span>
            </div>
        </div>
    </div>
      <div class="section-right-content">
        <div><img class="img-1" src="https://media.istockphoto.com/id/1337668467/vector/modern-rainbow-glow-backlight-frame.jpg?s=612x612&w=0&k=20&c=xbuNlYJsMRHstRLRkJyAW_eDaYLE6sXjQoFFo1tmFSo="></div>
        <div><img class="img-2" src="https://www.rri.res.in/sites/default/files/2022-05/aman.jpg"></div>
      </div>  
  </div>
  <div class="bgColor">
  <h1 class="text-center display-5 text-capitalize mx-auto fw-bold">experiences section </h1>
<div class="container">
<div class="col-12">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-between">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/img12.jpg" class="imgHoverEffect img-fluid" alt="Bootstrap Themes" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 headText">Frontend Development</h1>
        <p class="lead">I am experienced person in web development since i have been working in this area for past 6 years</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Like</button>
          <button type="button" class="btn btn-outline-primary btn-lg px-4">Share</button>
        </div>
      </div>
    </div>
</div>
</div>
</div>
    {{!-- add footer path --}}

    <div class="bgColor">
<div class="container">
<div class="col-12">
<div class="row flex-lg-row align-items-center g-5 py-5 justify-content-between">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/img11.webp" class="imgHoverEffect img-fluid" alt="Bootstrap Themes" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 headText">Backend Development</h1>
        <p class="lead">I am experienced person in web development since i have been working in this area for past 6 years</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Like</button>
          <button type="button" class="btn btn-outline-primary btn-lg px-4">Share</button>
        </div>
      </div>
    </div>
</div>
</div>
</div>

{{!-- education section --}}

<div class="bgColor">
  <h1 class="text-center display-5 text-capitalize mx-auto fw-bold">education section </h1>
<div class="container">
<div class="col-12">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-between">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/img14.jpg" class="imgHoverEffect img-fluid" alt="Bootstrap Themes" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 headText">Computer Science</h1>
        <p class="lead">I am experienced person in web development since i have been working in this area for past 6 years</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Like</button>
          <button type="button" class="btn btn-outline-primary btn-lg px-4">Share</button>
        </div>
      </div>
    </div>
</div>
</div>
</div>

<div class="bgColor">
<div class="container">
<div class="col-12">
<div class="row flex-lg-row align-items-center g-5 py-5 justify-content-between">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/img13.webp" class="imgHoverEffect img-fluid" alt="Bootstrap Themes" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 headText">Specialized in data science</h1>
        <p class="lead">I am experienced person in web development since i have been working in this area for past 6 years</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Like</button>
          <button type="button" class="btn btn-outline-primary btn-lg px-4">Share</button>
        </div>
      </div>
    </div>
</div>
</div>
</div>
{{>footer}}
    </body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
   
    <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>

	<script> 
	var typed=new Typed(".autotext", {
	strings: ["UI/UX Designer", "Web Developer", "Server manager", "React Developer"],
	typeSpeed:150,
	backSpeed:150,
	loop:true
	}) 
	</script>

</html>
