@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
.fa-brands {
    margin-left:1.5rem;
    margin-right:1.5rem;
    font-size: 1.7rem;
}
 footer i{
    background-color: aliceblue;
    padding:8px;
    color:black;
    border-radius: 5px;
 }
@media only screen and (min-width:320px) and (max-width:767px){
    .fa-brands {
        margin-left:.7rem;
        margin-right:.7rem;
        font-size: 1.3rem;
    }
}