@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    }
   .navbar li a{
    color:white;
   }
   .navbar li a:hover{
    color:rgb(79, 179, 179);
   } 